.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 64px;
}

.header__subtitle {
  color: white;
  text-align: center;
  width: 70%;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__desc {
  text-align: center;
  align-items: center;
  width: 70%;
  font-size: 16px;
  font-weight: 100;
}
