.webdev {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 32px;
  text-align: center;
}
.skills-list {
  padding: 0;
  margin: 0 auto 0;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: space-around;
  list-style: none;
  color: #03befc;
}

@media screen and (max-width: 775px) {
  .skills-list {
    gap: 32px;
  }
}

@media screen and (max-width: 600px) {
  .skills-list {
    gap: 16px;
    padding: 0 32px;
  }
}
